search_enabled: true
metrics_generator_enabled: true

server:
    http_listen_port: 3200
distributor:
    receivers:
        zipkin:
storage:
    trace:
        backend: local
        local:
            path: /tmp/tempo/blocks
metrics_generator:
    registry:
        external_labels:
            source: tempo
    storage:
        path: /tmp/tempo/generator/wal
        remote_write:
            - url: http://host.docker.internal:9090/api/v1/write
              send_exemplars: true
overrides:
    metrics_generator_processors: [service-graphs, span-metrics]
