apiVersion: 1
datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://host.docker.internal:9090
      editable: false
      jsonData:
          httpMethod: POST
          exemplarTraceIdDestinations:
              - name: trace_id
                url: http://localhost:9411/zipkin/traces/$${__value.raw}
