version: '3'
services:
    toxiproxy:
        container_name: toxiproxy
        image: ghcr.io/shopify/toxiproxy
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        command: -host=0.0.0.0 -config /config/toxiproxy.json
        restart: always
        volumes:
            - ./config:/config
        ports:
            - 8474:8474
            - 8800:8800
            - 8801:8801
            - 8802:8802
    toxiproxy-ui:
        container_name: toxiproxy-ui
        image: buckle/toxiproxy-frontend
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        environment:
            TOXIPROXY_URL: http://host.docker.internal:8474
        depends_on:
            - toxiproxy
        ports:
            - 8484:8080
