version: '3'
services:
    zipkin:
        container_name: httpbin
        image: kennethreitz/httpbin
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        ports:
            - 80:80
