version: '3'
services:
    nginx:
        container_name: nginx
        image: nginx
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        volumes:
            - ./config/handlers.js:/etc/nginx/handlers.js:ro
            - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./content:/usr/share/nginx/html:ro
        ports:
            - 80:80
