version: '3'
services:
    mysql:
        container_name: mysql
        image: mysql
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: password
        volumes:
            - ./config/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
            - ./local-data:/var/lib/mysql
        ports:
            - 3306:3306
    adminer:
        container_name: adminer
        image: adminer
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        environment:
            ADMINER_DEFAULT_SERVER: mysql
        depends_on:
            - mysql
        ports:
            - 8888:8080

# credentials: root:password
# http://localhost:8888/?server=mysql&username=root
