version: '3'
services:
    zookeeper:
        container_name: zookeeper
        image: wurstmeister/zookeeper
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        ports:
            - 2181:2181
        environment:
            KAFKA_ADVERTISED_HOST_NAME: zookeeper
    kafka:
        container_name: kafka
        image: wurstmeister/kafka
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        ports:
            - 9092:9092
        environment:
            KAFKA_LISTENERS: "INTERNAL://:9093,EXTERNAL://:9092"
            KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:9093,EXTERNAL://localhost:9092"
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
            KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        depends_on:
            - zookeeper
    kafdrop:
        container_name: kafdrop
        image: obsidiandynamics/kafdrop
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        ports:
            - 9000:9000
        environment:
            KAFKA_BROKERCONNECT: kafka:9093
        depends_on:
            - kafka
