version: '3'
services:
    jifa:
        container_name: jifa
        image: jifadocker/jifa-worker:demo
        extra_hosts: [ 'host.docker.internal:host-gateway' ]
        restart: always
        ports:
            - 8102:8102
